body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgreen;
}

.App {
  color: white;
  display: grid;
  width: 100vw;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px 150px 300px 300px;
  grid-template-areas: 
    "infopanel infopanel infopanel"
    ". ai2 ."
    "ai1 table ai3"
    "player player player";
}

#infopanel {
  width: 100%;
  grid-area: infopanel;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

.info-message {
  margin: 1px 20px;
}

.Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 4px rgba(0, 0, 0, .5);
  border-radius: 3px;
  margin: 5px;
}

.card-suit {
  display: flex;
  justify-content: center;
}

.card-title {
  align-self: 'flex-start';
}

.Table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: table;
}

.PlayerDashboard {
  grid-area: player;
  display: grid;
  grid-template-columns: 20% 55% 25%;
  grid-template-areas: "playerName playerCards playerOptions";
}

.PlayerHand {
  display: flex;
  justify-content: center;
}

.ai-top {
  display: flex;
}

.ai-card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}